body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 200px;
  width: 200px;
}

.mapCandidates {
  color: black;
}

.allCandidates {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.landing {
  background: url(landing.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.AplierTitle {
  color: #42556F;
  widows: 155px;
  height:71px;
  text-align: center;
  padding-top: 200px;
}